<h2>Snippets</h2>

<form method="post" action="/createsnippet" class="snippet-form">
  <div class="form-label-group">
    <textarea rows="10" cols="80" id="inputsnippet" class="snippet-control" name="snippet"  placeholder="Snippet" required autofocus >
   </textarea>
    <label for="inputsnippet">Place your Snippet</label>
  </div>

  <button type="submit" class="btnSnippet">Save </button>
</form>