

<h2>Snippets</h2>

{{#if snippets}}
<ul>
  {{#each snippets}}
  <li>
    <pre>
    {{this.snippet}}
    </pre>
    <a href="/updatesnippet/{{this._id}}">Edit</a>
    <a href="/deletesnippet/{{this._id}}">Delete</a>
  </li>
  {{/each}}
</ul>
{{/if}}