

<h2>Snippets</h2>

{{#if snippets}}
<ul>
  {{#each snippets}}
  <li>
    <pre>
    {{this.snippet}}
    </pre>
    <a href="/viewsnippet/{{this._id}}">view snippet</a>

  </li>
  {{/each}}
</ul>
{{/if}}