<h2>Snippets</h2>

{{#if snippets}}
<ul class="snippets">
  {{#each snippets}}
  <li>
    <pre>
    {{this.snippet}}
    </pre>
    <a class="viewsnippet" href="/viewsnippet/{{this._id}}">view snippet</a>
  </li>
  {{/each}}
</ul>
{{/if}}