

<h2>Snippets</h2>

{{#if snippets}}
<ul>
  {{#each snippets}}
  <li>
    <pre>
    {{this.snippet}}
    </pre>
    <a href="/updatesnippet" id="updatesnippet">Edit</a>
    <a href="/deletesnippet" id='deletesnippet'>Delete</a>
  </li>
  {{/each}}
</ul>
{{/if}}