<h2>Edit Snippets</h2>

<form method="post" action="/updatesnippet/{{id}}" class="snippet-form"> 
 {{!-- ?_method=PUT --}}
  <div class="form-label-group" >
      {{#if snippet}}
    <textarea rows="10" cols="80" id="inputsnippet" class="snippet-control" name="snippet" placeholder="Snippet" required autofocus >
    
      {{snippet}}
    
   </textarea>
 
     {{/if}}
     <input type="hidden" name="dbid" value="{{id}}">
     {{!-- <input type="hidden" name="_method" value="PUT"> --}}
  </div>

  <button type="submit" class="btnSnippet">Update</button>
</form>