<h2>View Snippet</h2>

<pre>
      {{snippet}}
</pre>
{{#if user}}
    <a class="viewsnippet" href="/updatesnippet/{{id}}">Edit</a>
    <a class="viewsnippet" href="/deletesnippet/{{id}}">Delete</a>
{{/if}}     
